body {
  font-size: 16px;
}

#content {
  border: 2px solid black;
  height: 50%;
  width: 30%;
  position: fixed;
  top: 30%;
  right: 35%;
}

.quote-font {
  font-family: cursive;
  padding: 10px;
}

.joke-font {
  font-size: 30px;
  font-family: Arial;
  padding: 60px;
}

.image {
  height: 403px;
  width: 433px;
}