body {
  font-size: 16px;
}

#content {
  border: 2px solid black;
  height: 50%;
  width: 30%;
  position: fixed;
  top: 30%;
  right: 35%;
}

.quote-font {
  font-family: cursive;
  padding: 10px;
}

.joke-font {
  font-size: 30px;
  font-family: Arial;
  padding: 60px;
}

.image {
  height: 403px;
  width: 433px;
}


#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 500px;
  height: 500px;
  margin-left: -250px; /*Half the value of width to center div*/
  margin-top: -250px; /*Half the value of height to center div*/
  z-index: 200;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

/* page loader style */

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../images/smileygif.GIF') 50% 50% no-repeat rgb(249,249,249);
}

#open-message {
  text-align: center;
  font-size: 4em;
  margin-top: 10%;
}




