body {
  font-size: 16px;
}

#content {
  height: 50%;
  width: 30%;
  position: fixed;
  top: 30%;
  right: 35%;

}

.quote-font {
  font-family: 'Aclonica', sans-serif;
  font-size: 2em;
  line-height: 1.5em;

  padding-top: 2%;
}

.joke-font {
  font-size: 3em;
  font-family: 'Covered By Your Grace', cursive;
  line-height: 1.5em;
}

.image {
  height: 80%; /* 403px; */
  width: 90%; /* 433px; */
  padding-top: 8%;
  padding-left: 5%;
}


#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(254, 255, 255, 1);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 0, 0.6);
  width: 500px;
  height: 500px;
  margin-left: -250px; /*Half the value of width to center div*/
  margin-top: -250px; /*Half the value of height to center div*/
  z-index: 200;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(244, 44, 44, 0.6); 
}

/* page loader style */

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../images/smileygif.GIF') 50% 50% no-repeat rgb(249,249,249);
  background-color: rgba(0, 255, 255, 0.1);
}

#open-message {
  text-align: center;
  font-size: 5em;
  margin-top: 10%;
  animation: changeColor 4s;
  font-family: 'Bangers', cursive;
}

@keyframes changeColor {
 0% { color: red; }
 50% { color: orange; }
 100% { color: yellow; }
}

.laughter {
  height: 50%;
}

