button {
  width: 40%;
  height: 15%;
  font-size: 1.3em;
}

@keyframes jokeButton {
  0% {top: 10%; left: -50%;}
  25% {top: 10%; left: -40%;}
  50% {top: 10%; left: -30%;}
  75% {top: 10%; left: -10%;}
  100% {top: 10%; left: 0;}
}

#joke-button {
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  background-color: orange;
  position: fixed;
  top: 10%;
  left: 0;
  animation-name: jokeButton;
  animation-duration: 4s;
  animation-timing-function: linear;
}

@keyframes picButton {
  0% {top: 25%; right: -50%;}
  25% {top: 25%; right: -40%;}
  50% {top: 25%; right: -30%;}
  75% {top: 25%; right: -10%;}
  100% {top: 25%; right: 0;}
} 

#picture-button {
  background-color: teal;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
  position: fixed;
  top: 25%;
  right: 0;
  animation-name: picButton;
  animation-duration: 4s;
  animation-timing-function: linear;
}

@keyframes quoteButton {
  0% {top: 40%; left: -50%;}
  25% {top: 40%; left: -40%;}
  50% {top: 40%; left: -30%;}
  75% {top: 40%; left: -10%;}
  100% {top: 40%; left: 0;}
}


#quote-button {
  background-color: red;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  position: fixed;
  top: 40%;
  left: 0;
  animation-name: quoteButton;
  animation-duration: 4s;
  animation-timing-function: linear;
}

@keyframes playerDiv {
  0% {bottom: 10%; right: -50%;}
  25% {bottom: 10%; right: -40%;}
  50% {bottom: 10%; right: -30%;}
  75% {bottom: 10%; right: -10%;}
  100% {bottom: 10%; right: 0;}
} 

#playerDiv {
  position: fixed;
  bottom: 10%;
  right: 0;
  animation-name: playerDiv;
  animation-duration: 4s;
  animation-timing-function: linear
}

#player {
  width: 570px; 
  height: 290px;
  border-top-left-radius: .7em;
  border-bottom-left-radius: .7em;
  
}